<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document Manager</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div class="container-fluid text-center">
    <div>
        <h1>Document Manager</h1>
    </div>
    <div class="text-success">
        <h3>[[${message}]]</h3>
    </div>

    <div class="row border rounded m-3">
        <th:block th:each="doc:${listDocs}">
            <div class="col">
                <div>
                    <img th:src="@{/images.png}" height="50" width="50"/>
                </div>
                <div>
                    <a th:href="@{'/api/v1/file/download?id='+${doc.id}}">[[${doc.name}]]</a>
                </div>
                <div>
                    ([[${#numbers.formatInteger(doc.size, 4, 'COMMA')}]] bytes)
                </div>
                    <div>
                        <a th:href="@{'/api/v1/file/delete?id='+${doc.id}}" class="btn btn-danger">Delete file</a>
                    </div>
            </div>
        </th:block>
    </div>

    <form th:action="@{/api/v1/file/upload}" method="post" enctype="multipart/form-data"
          style="max-width: 600px;margin: 0 auto">
        <div class="border rounded m-1">
            <h2>Upload Your Files:</h2>
            <p>
                <input type="file" name="document" required/>
            </p>
            <p>
                <input type="submit" value="Upload" class="btn btn-primary"/>
            </p>
        </div>
    </form>

</div>
</body>
</html>